 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/bgsaundra.png");
  background-position: 35.13% 63.17%;
  background-size: auto 105%;
}

.u-section-1 .u-sheet-1 {
  min-height: 848px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 848px;
}

.u-section-1 .u-container-layout-1 {
  padding: 2px 0;
}

.u-section-1 .u-social-icons-1 {
  min-height: 16px;
  width: 86px;
  min-width: 68px;
  height: 22px;
  margin: 87px auto 0 16px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-image-1 {
  width: 337px;
  height: 845px;
  filter: brightness(0.9);
  margin: -109px 63px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 848px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.6875rem;
  margin: 179px 133px 0 -27px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  line-height: 1.2;
  margin: 0 191px 0 -27px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 18px 98px 0 -27px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 2px;
  font-size: 1rem;
  border-style: solid;
  text-transform: none;
  transition-duration: 0.5s;
  font-weight: 700;
  margin: 35px auto 0 -17px;
  padding: 10px 32px 11px;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 2px;
  font-size: 1rem;
  border-style: solid;
  text-transform: none;
  transition-duration: 0.5s;
  font-weight: 700;
  margin: -50px auto 0 178px;
  padding: 9px 29px 9px 28px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 642px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 114px;
    margin-left: 12px;
  }

  .u-section-1 .u-image-1 {
    width: 269px;
    height: 628px;
    margin-top: -122px;
    margin-right: auto;
    margin-left: 83px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 642px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 141px;
    margin-right: 83px;
    margin-left: -98px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 105px;
    margin-left: -98px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 71px;
    margin-left: -98px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 15px;
    margin-left: -100px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 192px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 756px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 107px;
    margin-left: 15px;
  }

  .u-section-1 .u-image-1 {
    width: 323px;
    height: 786px;
    margin: -159px -8px -30px auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 756px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 72px;
    margin-right: 28px;
    margin-left: -27px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 15px;
    margin-right: 8px;
    margin-left: -27px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 28px;
    margin-left: -27px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 8px;
    margin-left: -27px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -51px;
    margin-right: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1149px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -717px;
  }

  .u-section-1 .u-image-1 {
    width: 312px;
    height: 846px;
    object-position: 34.53% 50%;
    margin-top: 1104px;
    margin-right: 109px;
    margin-bottom: -107px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 107px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -1086px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 8px;
    margin-right: -4px;
    margin-left: 5px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 10px;
    margin-left: 67px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -49px;
    margin-right: 57px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 440px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 960px;
  }

  .u-section-1 .u-image-1 {
    width: 299px;
    height: 769px;
    margin-top: 1082px;
    margin-right: 10px;
    margin-bottom: -196px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 187px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -857px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 9px;
    margin-left: 0;
    padding: 5px 21px 5px 20px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -41px;
    margin-right: 0;
    padding-top: 5px;
    padding-right: 21px;
    padding-left: 20px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover > .u-container-layout:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  color: #f08080 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #f08080 !important;
  font-weight: bold !important;
}

.u-section-1 .u-btn-1 {
  border-style: solid !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  color: #f08080 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #f08080 !important;
  font-weight: bold !important;
}

.u-section-1 .u-btn-1 {
  border-style: solid !important;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover > .u-container-layout:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  color: #f08080 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #f08080 !important;
  font-weight: bold !important;
}

.u-section-1 .u-btn-2 {
  border-style: solid !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  color: #f08080 !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #f08080 !important;
  font-weight: bold !important;
}

.u-section-1 .u-btn-2 {
  border-style: solid !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 670px;
}

.u-section-2 .u-image-1 {
  width: 388px;
  height: 362px;
  margin: 176px auto 0 15px;
}

.u-section-2 .u-image-2 {
  width: 392px;
  height: 507px;
  margin: -456px auto 0 307px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: -474px 303px 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 3rem;
  margin: 15px 123px 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 15px 46px 60px 714px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-2 .u-image-1 {
    width: 226px;
    height: 335px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -421px;
    margin-left: 222px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -467px;
    margin-right: 170px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    font-size: 2.25rem;
    margin-right: 82px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 7px;
    margin-right: 43px;
    margin-left: 629px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-2 .u-image-1 {
    width: 289px;
    height: 289px;
    margin-top: 340px;
    margin-left: 55px;
  }

  .u-section-2 .u-image-2 {
    width: 298px;
    height: 362px;
    margin-top: -607px;
    margin-left: 16px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -264px;
    margin-right: 182px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 21px;
    margin-right: 94px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 22px;
    margin-right: 21px;
    margin-left: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 146px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: -412px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 74px;
    margin-right: auto;
    margin-left: 162px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 118px;
  }

  .u-section-2 .u-text-3 {
    margin: 10px 79px 24px 93px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-2 .u-image-1 {
    width: 167px;
    height: 222px;
    margin-top: 282px;
    margin-left: 26px;
  }

  .u-section-2 .u-image-2 {
    width: 216px;
    height: 311px;
    margin-top: -494px;
    margin-right: 17px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 214px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 8px;
    margin-left: 51px;
  }

  .u-section-2 .u-text-3 {
    width: 229px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 682px;
}

.u-section-3 .u-image-1 {
  width: 417px;
  height: 594px;
  margin: 15px auto 0 133px;
}

.u-section-3 .u-image-2 {
  width: 416px;
  height: 526px;
  margin: -575px auto 0 47px;
}

.u-section-3 .u-image-3 {
  width: 312px;
  height: 351px;
  margin: -292px auto 0 15px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: -535px 296px 0 auto;
}

.u-section-3 .u-text-2 {
  line-height: 1.6;
  margin: 24px 132px 0 666px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  background-image: none;
  margin: 12px 251px 60px auto;
  padding: 15px 58px 16px 57px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-3 .u-image-1 {
    width: 300px;
    height: 502px;
    margin-top: 101px;
    margin-left: 154px;
  }

  .u-section-3 .u-image-2 {
    width: 321px;
    height: 409px;
    margin-top: -502px;
    margin-left: 39px;
  }

  .u-section-3 .u-image-3 {
    width: 241px;
    height: 270px;
    margin-top: -146px;
    margin-left: 39px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -471px;
    margin-right: 226px;
  }

  .u-section-3 .u-text-2 {
    line-height: 2;
    width: auto;
    margin-right: 18px;
    margin-left: 536px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 181px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-3 .u-image-1 {
    width: 274px;
    height: 390px;
    margin-top: 35px;
    margin-left: 64px;
  }

  .u-section-3 .u-image-2 {
    width: 236px;
    height: 320px;
    margin-top: -236px;
    margin-left: 51px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -209px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -516px;
    margin-right: 171px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 13px;
    margin-right: 74px;
    margin-left: 360px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 22px;
    margin-right: 137px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -7967px;
    margin-right: 96px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: 52px;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    width: 408px;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 19px;
    margin-right: auto;
    margin-bottom: 52px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 18px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -4096px;
    margin-right: 10px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 15px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 110px;
  }

  .u-section-3 .u-text-2 {
    width: 256px;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: 60px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 859px;
}

.u-section-4 .u-image-1 {
  width: 721px;
  height: 726px;
  margin: 41px 0 0 auto;
}

.u-section-4 .u-text-1 {
  font-size: 4.5rem;
  font-weight: normal;
  margin: -665px calc(((100% - 1140px) / 2) + 202px) 0 calc(((100% - 1140px) / 2) + 178px);
}

.u-section-4 .u-text-2 {
  background-image: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-family: "Titillium Web", sans-serif;
  margin: 20px calc(((100% - 1140px) / 2) + 570px) 0 calc(((100% - 1140px) / 2) + 178px);
}

.u-section-4 .u-text-3 {
  font-size: 4.5rem;
  font-weight: 400;
  font-family: Lobster, display;
  margin: 0 calc(((100% - 1140px) / 2) + 825px) 0 calc(((100% - 1140px) / 2) + 189px);
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  margin: -86px calc(((100% - 1140px) / 2) + 685px) 0 calc(((100% - 1140px) / 2) + 329px);
}

.u-section-4 .u-text-5 {
  font-family: Montserrat;
  font-size: 0.625rem;
  font-weight: 600;
  margin: 0 calc(((100% - 1140px) / 2) + 847px) 0 calc(((100% - 1140px) / 2) + 189px);
}

.u-section-4 .u-text-6 {
  font-family: Montserrat;
  font-size: 0.625rem;
  font-weight: 600;
  margin: -16px calc(((100% - 1140px) / 2) + 696px) 0 calc(((100% - 1140px) / 2) + 340px);
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 400;
  margin: 20px auto 60px calc(((100% - 1140px) / 2) + 178px);
  padding: 8px 30px 8px 29px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    width: 603px;
    height: 691px;
    margin-top: 97px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -641px;
    margin-right: calc(((100% - 940px) / 2) + 204px);
    margin-left: calc(((100% - 940px) / 2) + 105px);
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 11px;
    margin-right: calc(((100% - 940px) / 2) + 452px);
    margin-left: calc(((100% - 940px) / 2) + 96px);
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 718px);
    margin-left: calc(((100% - 940px) / 2) + 96px);
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 567px);
    margin-left: calc(((100% - 940px) / 2) + 247px);
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 729px);
    margin-left: calc(((100% - 940px) / 2) + 107px);
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 578px);
    margin-left: calc(((100% - 940px) / 2) + 258px);
  }

  .u-section-4 .u-btn-1 {
    margin-top: 25px;
    margin-left: calc(((100% - 940px) / 2) + 96px);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    width: 622px;
    height: 669px;
    margin-top: 95px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -615px;
    margin-right: calc(((100% - 720px) / 2) + 311px);
    margin-left: calc(((100% - 720px) / 2) + 16px);
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 312px);
    margin-left: calc(((100% - 720px) / 2) + 16px);
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 578px);
    margin-left: calc(((100% - 720px) / 2) + 16px);
  }

  .u-section-4 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2) + 441px);
    margin-left: calc(((100% - 720px) / 2) + 153px);
  }

  .u-section-4 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2) + 600px);
    margin-left: calc(((100% - 720px) / 2) + 16px);
  }

  .u-section-4 .u-text-6 {
    margin-right: calc(((100% - 720px) / 2) + 452px);
    margin-left: calc(((100% - 720px) / 2) + 164px);
  }

  .u-section-4 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2) + 16px);
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 50vw;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 581px;
    margin-top: 25px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 101px;
    margin-right: calc(((100% - 540px) / 2) + 50px);
    margin-left: calc(((100% - 540px) / 2) + 97px);
  }

  .u-section-4 .u-text-2 {
    width: 346px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    margin-right: 342px;
    margin-left: 178px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 178px;
    margin-left: 335px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 189px;
    margin-left: 347px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 357px;
    margin-left: 178px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 31px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 806px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 366px;
    margin-top: 40px;
    margin-right: auto;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    margin-top: -245px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
    margin-top: 95px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -14px;
    margin-right: calc(((100% - 340px) / 2) + 170px);
    margin-left: calc(((100% - 340px) / 2) + 45px);
  }

  .u-section-4 .u-text-4 {
    margin-right: calc(((100% - 340px) / 2) + 20px);
    margin-left: calc(((100% - 340px) / 2) + 188px);
  }

  .u-section-4 .u-text-5 {
    margin-top: -16px;
    margin-right: calc(((100% - 340px) / 2) + 187px);
    margin-left: calc(((100% - 340px) / 2) + 45px);
  }

  .u-section-4 .u-text-6 {
    margin-right: calc(((100% - 340px) / 2) + 20px);
    margin-left: calc(((100% - 340px) / 2) + 209px);
  }

  .u-section-4 .u-btn-1 {
    margin-top: 18px;
    margin-bottom: 40px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 725px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 126px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 184px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 16px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 25px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 3rem;
  font-weight: 500;
  margin: 24px 605px 0 0;
}

.u-section-5 .u-image-1 {
  width: 557px;
  height: 534px;
  margin: -184px 0 0 auto;
}

.u-section-5 .u-image-2 {
  width: 258px;
  height: 650px;
  margin: -650px 187px 0 auto;
}

.u-section-5 .u-image-3 {
  width: 168px;
  height: 150px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -417px 419px 0 auto;
}

.u-section-5 .u-text-3 {
  margin: -83px 736px 0 16px;
}

.u-section-5 .u-btn-1 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  font-weight: 600;
  padding: 14px 40px;
}

.u-section-5 .u-image-4 {
  width: 168px;
  height: 157px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -228px 135px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 449px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
    margin-right: 405px;
  }

  .u-section-5 .u-image-1 {
    width: 469px;
    margin-top: -475px;
    margin-right: -50px;
  }

  .u-section-5 .u-image-2 {
    margin-right: 135px;
  }

  .u-section-5 .u-image-3 {
    margin-top: -464px;
    margin-right: 374px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: -52px;
    margin-right: 601px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    margin: 12px auto 0 0;
  }

  .u-section-5 .u-image-4 {
    margin-top: -191px;
    margin-right: 68px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 783px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 571px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 136px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 12px;
    margin-right: 381px;
  }

  .u-section-5 .u-image-1 {
    width: 374px;
    height: 541px;
    margin-top: -482px;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    margin-right: 27px;
  }

  .u-section-5 .u-image-3 {
    margin-top: -455px;
    margin-right: 239px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -42px;
    margin-right: 381px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 6px;
  }

  .u-section-5 .u-image-4 {
    margin-top: -249px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 854px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 493px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 254px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -458px;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    margin-top: 3px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-5 .u-image-1 {
    height: 439px;
    margin-top: -337px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-2 {
    height: 439px;
    margin-top: -439px;
    margin-right: auto;
  }

  .u-section-5 .u-image-3 {
    margin-top: -353px;
    margin-right: auto;
    margin-left: 24px;
  }

  .u-section-5 .u-text-3 {
    width: 339px;
    margin-top: -517px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 14px;
    margin-left: auto;
  }

  .u-section-5 .u-image-4 {
    margin-top: 273px;
    margin-right: 33px;
    margin-bottom: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 950px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 126px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 138px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 443px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
    margin: 0 1px -369px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    margin-top: -138px;
    margin-right: -14px;
    margin-left: auto;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 529px;
    margin-top: -529px;
    margin-right: -21px;
  }

  .u-section-5 .u-image-3 {
    width: 112px;
    height: 118px;
    margin-top: -334px;
    margin-left: 21px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 284px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-image-4 {
    width: 118px;
    height: 117px;
    margin-top: -560px;
    margin-right: 21px;
    margin-bottom: 60px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 591px;
}

.u-section-6 .u-text-1 {
  margin: 1px auto 0;
}

.u-section-6 .u-text-2 {
  width: 740px;
  font-weight: 600;
  margin: 20px auto 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 20px auto 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  grid-gap: 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 21px;
}

.u-section-6 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 10px 0 0 9px;
}

.u-section-6 .u-text-4 {
  margin: 2px 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 21px;
}

.u-section-6 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 10px 0 0 9px;
}

.u-section-6 .u-text-6 {
  margin: 2px 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 21px;
}

.u-section-6 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 10px 0 0 9px;
}

.u-section-6 .u-text-8 {
  margin: 2px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-6 .u-text-1 {
    width: 112px;
    margin-top: 23px;
  }

  .u-section-6 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 9px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 9px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
  }

  .u-section-6 .u-text-8 {
    margin-left: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 940px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 33px;
  }

  .u-section-6 .u-text-2 {
    width: 720px;
  }

  .u-section-6 .u-list-1 {
    grid-template-rows: auto;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 724px;
    grid-gap: 10px 10px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-top: 0;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1082px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 18px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
    margin-top: 2px;
  }
} .u-section-7 {
  background-image: url("images/bgsaundra.png");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 796px;
}

.u-section-7 .u-image-1 {
  width: 100px;
  height: 86px;
  margin: -16px auto 0 -32px;
}

.u-section-7 .u-text-1 {
  font-size: 1.875rem;
  font-weight: normal;
  margin: -10px auto 0 39px;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  margin: 5px 419px 0 39px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 21px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 539px;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 17px;
}

.u-section-7 .u-icon-1 {
  width: 36px;
  height: 36px;
  margin: 0 auto 0 13px;
  padding: 0;
}

.u-section-7 .u-text-3 {
  margin: 2px 13px 0;
}

.u-section-7 .u-text-4 {
  font-weight: 900;
  margin: 14px 13px 0;
}

.u-section-7 .u-text-5 {
  line-height: 1.8;
  background-image: none;
  margin: 11px -1px 0 9px;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 539px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0 11px;
}

.u-section-7 .u-icon-2 {
  width: 36px;
  height: 36px;
  margin: 14px auto 0 23px;
  padding: 0;
}

.u-section-7 .u-text-6 {
  margin: 0 23px;
}

.u-section-7 .u-text-7 {
  font-weight: 900;
  margin: 16px 27px 0 19px;
}

.u-section-7 .u-text-8 {
  line-height: 1.8;
  margin: 5px 19px 0 0;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 539px;
}

.u-section-7 .u-container-layout-3 {
  padding: 20px 9px;
}

.u-section-7 .u-icon-3 {
  width: 36px;
  height: 36px;
  margin: 0 auto 0 18px;
  padding: 0;
}

.u-section-7 .u-text-9 {
  margin: 0 21px;
}

.u-section-7 .u-text-10 {
  font-weight: 900;
  margin: 14px 33px 0 10px;
}

.u-section-7 .u-text-11 {
  line-height: 1.8;
  margin: 7px 23px 0 0;
}

.u-section-7 .u-btn-3 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 539px;
}

.u-section-7 .u-container-layout-4 {
  padding: 20px 21px;
}

.u-section-7 .u-icon-4 {
  width: 36px;
  height: 36px;
  margin: 0 auto 0 9px;
  padding: 0;
}

.u-section-7 .u-text-12 {
  margin: 0 9px;
}

.u-section-7 .u-text-13 {
  font-weight: 900;
  margin: 16px 9px 0 -2px;
}

.u-section-7 .u-text-14 {
  line-height: 1.8;
  margin: 5px -1px 0 0;
}

.u-section-7 .u-btn-4 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 21px auto 0 32px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 970px;
  }

  .u-section-7 .u-image-1 {
    height: 103px;
    margin-top: -21px;
    margin-left: -39px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: -25px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 3px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 754px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-7 .u-icon-1 {
    margin-left: 24px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 11px;
    margin-left: 24px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-right: -2px;
    margin-left: 11px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 754px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 0;
  }

  .u-section-7 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-8 {
    width: auto;
    margin-right: 16px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 754px;
  }

  .u-section-7 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-11 {
    width: auto;
    margin-right: 18px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 754px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-icon-4 {
    margin-left: 30px;
  }

  .u-section-7 .u-text-12 {
    margin-right: 21px;
    margin-left: 30px;
  }

  .u-section-7 .u-text-13 {
    width: auto;
    margin-top: 5px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-7 .u-text-14 {
    width: auto;
    margin-top: 11px;
    margin-right: 24px;
    margin-left: 16px;
  }

  .u-section-7 .u-btn-4 {
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 907px;
  }

  .u-section-7 .u-image-1 {
    margin-left: 149px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -20px;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-top: 0;
    margin-right: 360px;
    margin-left: 0;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 24px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 704px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-icon-1 {
    margin-left: 30px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-right: 10px;
    margin-left: 30px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 8px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 704px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-icon-2 {
    margin-left: 34px;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-right: 1px;
    margin-left: 34px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-7 .u-text-8 {
    margin-left: -2px;
    margin-right: -2px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 704px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-icon-3 {
    margin-left: 27px;
  }

  .u-section-7 .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-10 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-11 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-7 .u-btn-3 {
    margin-top: 24px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 704px;
  }

  .u-section-7 .u-icon-4 {
    margin-left: 42px;
  }

  .u-section-7 .u-text-12 {
    width: auto;
    margin-right: -2px;
    margin-left: 21px;
  }

  .u-section-7 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-14 {
    margin-top: 22px;
    margin-right: -2px;
    margin-left: 2px;
  }

  .u-section-7 .u-btn-4 {
    margin-top: 18px;
    margin-right: 4px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2157px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 14px;
    margin-left: -50px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -13px;
    margin-right: 233px;
    margin-left: -32px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 6px;
    margin-right: 224px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-7 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-7 .u-text-3 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 452px;
  }

  .u-section-7 .u-icon-2 {
    margin-left: auto;
  }

  .u-section-7 .u-text-6 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-7 .u-text-7 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-7 .u-btn-2 {
    margin-top: 8px;
    margin-left: 177px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-icon-3 {
    margin-left: auto;
  }

  .u-section-7 .u-text-9 {
    width: auto;
  }

  .u-section-7 .u-text-10 {
    width: auto;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-7 .u-icon-4 {
    margin-left: auto;
  }

  .u-section-7 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1846px;
  }

  .u-section-7 .u-image-1 {
    width: 112px;
    height: 69px;
    margin-top: 22px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
    width: 213px;
    margin-top: -60px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-2 {
    width: 233px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 5px;
    margin-bottom: 44px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 421px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-7 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-12 {
    margin-left: 30px;
    margin-right: 0;
  }

  .u-section-7 .u-btn-4 {
    margin-right: 0;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 748px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 53px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 727px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-8 .u-group-1 {
  width: 373px;
  min-height: 455px;
  height: auto;
  margin: -33px 15px 0 auto;
}

.u-section-8 .u-image-1 {
  width: 444px;
  height: 521px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 91px auto 0 -20px;
}

.u-section-8 .u-image-2 {
  width: 143px;
  height: 143px;
  margin: -592px -122px 0 auto;
}

.u-section-8 .u-image-3 {
  width: 255px;
  height: 343px;
  margin: -175px -145px 0 auto;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 727px;
}

.u-section-8 .u-text-1 {
  font-size: 1.5rem;
  margin: 20px 112px 0 87px;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  line-height: 1.2;
  font-size: 3rem;
  margin: 0 53px 0 87px;
}

.u-section-8 .u-text-3 {
  margin: 12px 112px 0 87px;
}

.u-section-8 .u-btn-1 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  font-weight: 600;
  margin: 12px auto 0 87px;
  padding: 14px 40px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 623px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-8 .u-group-1 {
    width: 368px;
    margin-right: 0;
    height: auto;
  }

  .u-section-8 .u-image-1 {
    width: 368px;
    height: 433px;
    margin-top: 171px;
    margin-left: 0;
  }

  .u-section-8 .u-image-2 {
    margin-top: -504px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 659px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 40px;
    margin-left: 40px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 39px;
    margin-left: 40px;
    width: 442px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 50px;
    margin-left: 29px;
  }

  .u-section-8 .u-btn-1 {
    margin-left: 32px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 834px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-8 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-image-1 {
    width: 269px;
    height: 317px;
  }

  .u-section-8 .u-image-2 {
    margin-top: -388px;
    margin-right: -78px;
  }

  .u-section-8 .u-image-3 {
    margin-top: -40px;
    margin-right: -38px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
    width: 351px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 825px;
  }

  .u-section-8 .u-group-1 {
    width: 540px;
    margin-top: -51px;
    margin-right: -20px;
    margin-left: auto;
  }

  .u-section-8 .u-image-1 {
    width: 362px;
    height: 448px;
    margin-top: 40px;
  }

  .u-section-8 .u-image-2 {
    margin-top: -504px;
    margin-right: 82px;
  }

  .u-section-8 .u-image-3 {
    width: 359px;
    height: 426px;
    margin-top: -88px;
    margin-right: 20px;
    margin-bottom: -17px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 760px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
  }

  .u-section-8 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-text-3 {
    width: auto;
  }

  .u-section-8 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 965px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 569px;
  }

  .u-section-8 .u-group-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-8 .u-image-1 {
    width: 220px;
    height: 305px;
    margin-top: 74px;
    margin-right: 100px;
    margin-left: 20px;
  }

  .u-section-8 .u-image-2 {
    margin-top: -362px;
    margin-right: 27px;
  }

  .u-section-8 .u-image-3 {
    width: 204px;
    height: 276px;
    margin-top: -212px;
    margin-right: 38px;
    margin-bottom: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 699px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 0;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.5rem;
    width: 340px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 616px;
}

.u-section-9 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 616px;
}

.u-section-9 .u-container-layout-1 {
  padding: 16px 0;
}

.u-section-9 .u-text-1 {
  font-size: 1.5rem;
  margin: 0 28px;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  font-size: 2.0625rem;
  margin: 0 28px;
}

.u-section-9 .u-text-3 {
  margin: 4px 28px 0;
}

.u-section-9 .u-btn-1 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-image: none;
  margin: 20px auto 0 28px;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 616px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-9 .u-image-1 {
  width: 390px;
  height: 426px;
  margin: 52px 77px 0 auto;
}

.u-section-9 .u-image-2 {
  width: 246px;
  height: 362px;
  margin: -401px auto 0 4px;
}

.u-section-9 .u-image-3 {
  width: 162px;
  height: 127px;
  margin: -395px auto 0 -24px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 609px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 5px;
    margin-right: 4px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 5px;
    margin-right: 4px;
  }

  .u-section-9 .u-btn-1 {
    border-style: none;
    margin-left: 0;
    padding: 14px 40px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 609px;
  }

  .u-section-9 .u-image-1 {
    height: 427px;
  }

  .u-section-9 .u-image-2 {
    margin-top: -402px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 614px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 614px;
  }

  .u-section-9 .u-image-1 {
    margin-right: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1207px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 534px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 653px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 987px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 2px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 411px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-9 .u-image-1 {
    width: 193px;
    height: 327px;
    margin-top: 64px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-9 .u-image-2 {
    margin-top: -396px;
    margin-right: 2px;
    margin-left: auto;
  }

  .u-section-9 .u-image-3 {
    margin-top: -368px;
    margin-left: -10px;
  }
} .u-section-10 {
  background-image: none;
  min-height: 808px;
}

.u-section-10 .u-shape-1 {
  height: 485px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: -485px auto 0 0;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 808px;
  background-image: none;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  margin: 146px 69px 0 31px;
}

.u-section-10 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 15px 69px 0 31px;
}

.u-section-10 .u-list-1 {
  width: 459px;
  margin: 15px auto 0;
}

.u-section-10 .u-repeater-1 {
  grid-gap: 0px;
}

.u-section-10 .u-text-3 {
  margin: 0 138px 0 31px;
}

.u-section-10 .u-icon-1 {
  height: 22px;
  width: 22px;
  margin: 19px auto 0 31px;
}

.u-section-10 .u-text-4 {
  font-weight: 700;
  font-size: 1rem;
  margin: -22px 38px 0 62px;
}

.u-section-10 .u-group-elements-1 {
  min-height: 26px;
  width: 428px;
  margin: 8px auto 0 0;
}

.u-section-10 .u-icon-2 {
  height: 22px;
  width: 22px;
  margin: -25px auto 0 31px;
}

.u-section-10 .u-text-5 {
  font-weight: 700;
  margin: -22px 38px 0 62px;
}

.u-section-10 .u-image-1 {
  min-height: 808px;
  background-image: url("images/veg.png");
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  padding: 19px 30px;
}

.u-section-10 .u-form-1 {
  height: 596px;
  background-image: none;
  margin: 127px 19px 0 29px;
}

.u-section-10 .u-label-1 {
  font-size: 0.75rem;
  font-style: italic;
}

.u-section-10 .u-label-2 {
  font-size: 0.75rem;
  font-style: italic;
}

.u-section-10 .u-label-3 {
  font-size: 0.75rem;
  font-style: italic;
}

.u-section-10 .u-label-4 {
  font-size: 0.75rem;
  font-style: italic;
}

.u-section-10 .u-label-5 {
  font-size: 0.75rem;
  font-style: italic;
}

.u-section-10 .u-label-6 {
  font-size: 0.75rem;
  font-style: italic;
}

.u-section-10 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  letter-spacing: 1px;
  width: 100%;
  background-image: none;
  text-transform: none;
}

@media (max-width: 1199px) {
   .u-section-10 {
    min-height: 606px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 676px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-10 .u-text-1 {
    width: 397px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-10 .u-text-2 {
    width: 397px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-10 .u-list-1 {
    width: 397px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-10 .u-text-3 {
    width: 397px;
    margin-right: 61px;
    margin-left: 30px;
  }

  .u-section-10 .u-icon-1 {
    margin-top: 16px;
    margin-left: 30px;
  }

  .u-section-10 .u-text-4 {
    width: auto;
    margin-right: 0;
    margin-left: 60px;
  }

  .u-section-10 .u-group-elements-1 {
    height: auto;
    width: 397px;
    margin-top: 11px;
    margin-left: 30px;
  }

  .u-section-10 .u-icon-2 {
    margin-left: 30px;
  }

  .u-section-10 .u-text-5 {
    width: auto;
    margin-right: 0;
    margin-left: 60px;
  }

  .u-section-10 .u-image-1 {
    min-height: 676px;
  }

  .u-section-10 .u-form-1 {
    width: 397px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-10 {
    min-height: 756px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 756px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-top: 69px;
    margin-right: -32px;
    margin-left: 45px;
  }

  .u-section-10 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-right: -32px;
    margin-left: 45px;
  }

  .u-section-10 .u-list-1 {
    width: 342px;
    margin-top: 11px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-10 .u-text-3 {
    width: 306px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-10 .u-icon-1 {
    margin-top: 14px;
    margin-left: 37px;
  }

  .u-section-10 .u-text-4 {
    margin-top: -25px;
    margin-left: 59px;
  }

  .u-section-10 .u-group-elements-1 {
    width: 347px;
    margin-top: 15px;
    margin-left: 0;
  }

  .u-section-10 .u-icon-2 {
    margin-top: -23px;
    margin-left: 38px;
  }

  .u-section-10 .u-text-5 {
    margin-top: -25px;
    margin-right: -59px;
    margin-left: 59px;
  }

  .u-section-10 .u-image-1 {
    min-height: 756px;
  }

  .u-section-10 .u-form-1 {
    height: 591px;
    margin-top: 48px;
    margin-right: 25px;
    width: 324px;
  }
}

@media (max-width: 767px) {
   .u-section-10 {
    min-height: 1387px;
  }

  .u-section-10 .u-shape-1 {
    margin-top: 1px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: -466px;
    margin-bottom: 1px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 406px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 118px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-10 .u-icon-1 {
    margin-left: 133px;
  }

  .u-section-10 .u-text-4 {
    width: 336px;
    margin-top: -24px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-10 .u-group-elements-1 {
    margin-top: 14px;
  }

  .u-section-10 .u-icon-2 {
    margin-top: -24px;
    margin-left: 219px;
  }

  .u-section-10 .u-text-5 {
    width: 179px;
    margin-top: -23px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-10 .u-image-1 {
    min-height: 894px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-10 .u-form-1 {
    width: 532px;
    margin-top: 133px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
   .u-section-10 {
    min-height: 927px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 317px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-list-1 {
    width: 340px;
  }

  .u-section-10 .u-icon-1 {
    margin-left: 84px;
  }

  .u-section-10 .u-text-4 {
    width: auto;
    font-size: 0.875rem;
    margin-top: -1px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-10 .u-group-elements-1 {
    width: 340px;
    margin-top: -7px;
  }

  .u-section-10 .u-icon-2 {
    margin-left: 138px;
  }

  .u-section-10 .u-text-5 {
    width: 214px;
    margin-top: -14px;
  }

  .u-section-10 .u-image-1 {
    min-height: 625px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-10 .u-form-1 {
    width: 320px;
    margin-top: -9px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 700px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 60px auto 0;
}

.u-section-11 .u-text-2 {
  width: 610px;
  margin: 20px auto 0;
}

.u-section-11 .u-list-1 {
  margin-bottom: 47px;
  margin-top: 30px;
}

.u-section-11 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  grid-gap: 20px;
}

.u-section-11 .u-container-layout-1 {
  padding: 20px;
}

.u-section-11 .u-group-1 {
  min-height: 284px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-11 .u-container-layout-2 {
  padding: 20px;
}

.u-section-11 .u-text-3 {
  font-weight: 700;
  font-style: italic;
  margin: 0;
}

.u-section-11 .u-icon-1 {
  width: 64px;
  margin: 30px auto 0;
}

.u-section-11 .u-image-1 {
  width: 53px;
  height: 53px;
  background-image: url("images/pexels-photo-2182970.jpeg");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-11 .u-text-4 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-11 .u-list-item-2 {
  background-image: none;
}

.u-section-11 .u-container-layout-3 {
  padding: 20px;
}

.u-section-11 .u-group-2 {
  min-height: 202px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-11 .u-container-layout-4 {
  padding: 20px;
}

.u-section-11 .u-text-5 {
  font-weight: 700;
  font-style: italic;
  margin: 0;
}

.u-section-11 .u-icon-2 {
  width: 64px;
  margin: 30px auto 0;
}

.u-section-11 .u-image-2 {
  width: 53px;
  height: 53px;
  background-image: url("images/pexels-photo-1181541.jpeg");
  background-position: 9.85% 50%;
  margin: 20px auto 0;
}

.u-section-11 .u-text-6 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-11 .u-container-layout-5 {
  padding: 20px;
}

.u-section-11 .u-group-3 {
  min-height: 202px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-11 .u-container-layout-6 {
  padding: 20px;
}

.u-section-11 .u-text-7 {
  font-weight: 700;
  font-style: italic;
  margin: 0;
}

.u-section-11 .u-icon-3 {
  width: 64px;
  margin: 30px auto 0;
}

.u-section-11 .u-image-3 {
  width: 53px;
  height: 53px;
  background-image: url("images/pexels-photo-3727464.jpeg");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-11 .u-text-8 {
  font-weight: 700;
  margin: 17px auto 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-11 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-11 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 832px;
    grid-gap: 9px 9px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-2 {
    width: 540px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-11 .u-text-2 {
    width: 340px;
  }
}